<div fxLayout="row"> 
    <div fxFlex="96px" class="yellow"></div>
    <div fxFlex="100" class="black"></div>
</div>
<div fxLayout="row" class="nav" fxLayoutAlign="space-around"> 
    <div fxFlex="50px"></div>
    <div fxLayout="row" fxLayoutAlign="center" class="left-content">
        <span fxFlexAlign="center" class="logo-container">
            <a href="/">
                <img src="assets/mtn-logo.png" alt="MTN LOGO" class="mtn-logo">
            </a> 
        </span>
        <span fxFlexAlign="center">
            <a href="" target="_blank" class="link">Store</a>
        </span>
        <span fxFlexAlign="center">
            <a href="" target="_blank" class="link">Products & Services</a>
        </span>
        <span fxFlexAlign="center">
            <a href="" target="_blank" class="link">Help & Support</a>
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <span fxFlexAlign="center">
            <!-- <mat-icon>search</mat-icon> -->
            <mat-icon svgIcon="mtn-search" aria-hidden="false" aria-label="SEARCH" class="search-icon"></mat-icon>
        </span>
        <span fxFlexAlign="center" class="menu-text">
            <mat-icon class="indicator">lens</mat-icon>
            PERSONAL
            <mat-icon class="inline-icon">expand_more</mat-icon>
        </span>
    </div>
    <div></div>
</div>