.nav {
    display: flex;
    justify-content: space-between;
    border-left: 100px;
    border-bottom: 1px solid #000;

    span {
        padding: 20px;
    }

    .left {
        padding-left: 30px;
    }

}

.slider {
    // flex seems to break swiper, use auto margins
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
