.nav {
    display: flex;
    justify-content: space-between;
    border-left: 100px;
    border-bottom: 1px solid #000;

    span {
        padding: 20px;
    }

    .left {
        padding-left: 30px;
    }

}

// .slider {
//     // display: flex;

//     span {
//         // flex-grow: 1;
//     }

// }
.slider-container {
    width: 1416px;
}
