<swiper 
    [slidesPerView]="5"
    [spaceBetween]="24" 
    [navigation]="true"
    [loop]="true"
    [centeredSlides]="true"
    (slideChange)="onSlideChange($event)"
    class="mySwiper">
    <ng-template swiperSlide>Slide 1<div></div></ng-template>
    <ng-template swiperSlide>Slide 2<div></div></ng-template>
    <ng-template swiperSlide>Slide 3<div></div></ng-template>
    <ng-template swiperSlide>Slide 4<div></div></ng-template>
    <ng-template swiperSlide>Slide 5<div></div></ng-template>
</swiper>